:root {
    --main-font: Avenir, sans-serif;
    --secondary-font: 'Georgia', serif;
    --main-color: #34495e;
    --secondary-color: hsl(210, 29%, 24%);
    --text-color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

.container {
    flex: 1 0 auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);    
    padding: 30px;
    
}


header h1 {
    font-family: var(--primary-font);
    font-size: 30px; /* increased font size */
    margin: 0;
}

nav {
    display: flex;
    gap: 40px; /* increased gap */
}

nav a {
    background-color: var(--secondary-color);
    color: var(--text-color);   
    padding: 15px 40px; /* increased padding */
    font-size: 18px; /* increased font size */
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
}}

nav a.active {
    background-color: #1a252f;
}


main {
    flex-grow: 1;
    padding: 20px;
    background-color: #ecf0f1;
    font-size: 18px;
}

footer {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
    color: #fff;
    flex-shrink: 0;
}

.blog-tile a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-bottom: 10px;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 20px; /* Add padding to the form */
}

.contact-form label {
    margin-top: 20px; /* Increase margin-top */
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    width: 100%;
    padding: 15px; /* Increase padding */
    margin-top: 10px; /* Increase margin-top */
}

.contact-form input[type="submit"] {
    margin-top: 20px; /* Increase margin-top */
    padding: 15px 20px; /* Increase padding */
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}